<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077972356575-olvss64s9bnk2fp2lhg1cc4c1cvf8f49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077972356575-olvss64s9bnk2fp2lhg1cc4c1cvf8f49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1077972356575-7h2hb75p3a6uas0iv5suo60gk507jbbs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChJ_jWSssjOv_Yta28ksx_B2Vzf6CdfAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1077972356575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.covid19cz.BT-Tracking5</string>
	<key>PROJECT_ID</key>
	<string>covid19cz</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19cz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077972356575:ios:7583eb26c3e6cd8c61886a</string>
	<key>DATABASE_URL</key>
	<string>https://covid19cz.firebaseio.com</string>
</dict>
</plist>
