<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382369682317-oa2dc4siamp24t9tk4u9gfvbs6g4of3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382369682317-oa2dc4siamp24t9tk4u9gfvbs6g4of3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBPhCDXRIbJfUbvMlrD4sTRLF41PySO0os</string>
	<key>GCM_SENDER_ID</key>
	<string>382369682317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.covid19cz.erouska.dev</string>
	<key>PROJECT_ID</key>
	<string>erouska-key-server-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>erouska-key-server-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382369682317:ios:2160e9087de31cd70f23c4</string>
	<key>DATABASE_URL</key>
	<string>https://erouska-key-server-dev.firebaseio.com</string>
</dict>
</plist>