<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941144972907-ds016o6p1icpju7s67p8dhr55jltub0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941144972907-ds016o6p1icpju7s67p8dhr55jltub0j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>941144972907-n11bsjourafod10sin5fomirse6crnfa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFjnrOLTJmtDALMjsxkIC94w9eqFIUGNk</string>
	<key>GCM_SENDER_ID</key>
	<string>941144972907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.covid19cz.erouska</string>
	<key>PROJECT_ID</key>
	<string>daring-leaf-272223</string>
	<key>STORAGE_BUCKET</key>
	<string>daring-leaf-272223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941144972907:ios:8ff3f773cf3987de73db2e</string>
	<key>DATABASE_URL</key>
	<string>https://daring-leaf-272223.firebaseio.com</string>
</dict>
</plist>